flush ruleset

table inet filter {
    counter cnt_ssh {
        
    }
    chain input {
        type filter hook input priority filter; policy accept;
        ct state established, related counter accept
        ct state invalid counter drop
        iif lo counter accept
        ct state new tcp dport { {{ ansible_port }}, 8080 } counter name cnt_ssh accept
        drop
    }
}