flush ruleset

table inet filter {
    counter cnt_ssh {   
    }
    counter cnt_wireguard {
    }
    chain input {
        type filter hook input priority filter; policy accept;
        ct state established, related counter accept
        ct state invalid counter drop
        iif lo counter accept
        ct state new tcp dport { {{ ansible_port }}, 443, 80 } counter name cnt_ssh accept
        udp dport 51820 counter name cnt_wireguard accept
        iifname "wg0" ip daddr 10.43.43.1 counter name cnt_wireguard accept
        tcp dport 5432 counter accept
        drop
    }
    chain forward {
        type filter hook forward priority filter; policy drop;
        ct state vmap { invalid : drop, established : accept, related : accept }
        iifname "wg0" accept
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        oifname != "lo" masquerade
    }
}
